.flex-display {
  display: flex;
}

.flex-column {
  @extend .flex-display;
  flex-direction: column;
}

.flex-row {
  @extend .flex-display;
  flex-direction: row;
}

.flex-wrap {
  @extend .flex-display;
  flex-wrap: wrap;
}

.flex-align-start {
  align-items: flex-start;
}
.flex-align-end {
  align-items: flex-end;
}
.flex-align-baseline {
  align-items: baseline;
}
.flex-align-stretch {
  align-items: stretch;
}
.flex-align-center {
  align-items: center;
}

.flex-justify-start {
  justify-content: flex-start;
}
.flex-justify-end {
  justify-content: flex-end;
}
.flex-justify-center {
  justify-content: center;
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-justify-around {
  justify-content: space-around;
}
